[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.2.2"
flask-injector = "0.14.0"
azure-cosmos = "4.3.0"
waitress = "2.1.2"
pyjwt = "2.6.0"

[dev-packages]

[requires]
python_version = "3.10"
